.landing-page {
    position: relative;
    height: 84.7vh;

    .video-player {
        height: 100%;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .main-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;

        .logo-container {
            height: 70%;

            img {
                height: 100%;
            }
        }

        .slogan-container {
            height: 30%;

            img {
                height: 100%;
            }
        }
    }
}