<div class="landing-page">
    <div class="video-player">
        <video #myVideo autoplay muted loop [class.hidden]="!readyToDisplay" (timeupdate)="onTimeUpdate()">
            <source src="https://res.cloudinary.com/daxhopqbg/video/upload/v1700105121/manifold-paradox/header_video_niv01i.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="main-logo">
            <picture class="logo-container">
                <img
                    src="https://res.cloudinary.com/daxhopqbg/image/upload/v1700105108/manifold-paradox/logo-no-background_rxkowh.png">
            </picture>
            <picture class="slogan-container">
                <img
                    src="https://res.cloudinary.com/daxhopqbg/image/upload/v1700105107/manifold-paradox/guild-slogan_rcxoze.png">
            </picture>
        </div>
    </div>
</div>
