.main-logo {
    width: 80vw;
    height: 50vh;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    picture {
        height: 100%;
        display: flex;
        justify-content: center;
    }
}