.discord-page {
    height: 84.7vh;
    height: 84.7svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .discord-invitation {
        width: 80%;
    }
}

@media screen and (min-width:1200px) {
    .discord-page {
        display: flex;
        flex-direction: column;

        .discord-invitation {
            width: auto;
        }
    }
}