.header {
    display: flex;
    height: 7vh;
    background-image: url(./../../../../assets/background-textures/header_texture.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    z-index: 12;

    nav {
        display: flex;
        justify-content: center;
        width: 100%;

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                display: inline;
                padding: 0 4%;
            }
        }
    }
}