.not-found-page {
    height: 84.7vh;
    height: 84.7svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo-container {
        width: 80%;
        height: auto;

        img {
            width: 100%;
        }
    }

    .button-container {
        width: 80%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        .button-transformed-container {
            width: 60%;
            height: 30%;
            transform: skewX(15deg);
            background-color: green;


            .back-home-button {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(./../../../assets/background-textures/TLScratchedMetal.jpeg), radial-gradient(55.59% 125% at 46.14% 13.16%, #ffe4c2 0, rgba(196, 157, 109, 0) 100%), linear-gradient(268.29deg, #e7dacb -.04%, #c59768 24.44%, #7f4f2c 51%, #a66b42 78.09%, #c49d6d 99.96%), linear-gradient(271.17deg, hsla(0, 0%, 100%, .2) -.68%, hsla(0, 0%, 100%, 0) 49%), #262626;
                background-blend-mode: overlay, normal, normal, normal, normal;
                background-size: cover;
                background-position: 50%;
                display: flex;
                justify-content: center;
                align-items: center; // transform: matrix(-1, 0, 0, 1, 0, 0);
                transition: .35s ease-in-out;
                font-size: 1rem;

                p {
                    transform: skewX(-15deg);
                }
            }

            .back-home-button:hover {
                background: url(./../../../assets/background-textures/TLScratchedMetal.jpeg),
                    radial-gradient(55.59% 125% at 46.14% 13.16%, #ffe4c2 0, rgba(196, 157, 109, 0) 100%),
                    linear-gradient(268.29deg, #e7dacb -.04%, #c59768 24.44%, #7f4f2c 51%, #a66b42 78.09%, #c49d6d 99.96%),
                    linear-gradient(271.17deg, hsla(0, 0%, 0%, .5) -.68%, hsla(0, 0%, 0%, 0) 49%),
                    #262626;
                background-size: cover;
                transition: .35s ease-in-out;
            }
        }

    }
}






@media screen and (min-width:1200px) {
    .not-found-page {
        .logo-container {
            height: 50%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: auto;
            }
        }

        .button-container{
            width: 20%;
        }
    }
}