.info-page {
    height: 84.7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-container {
        width: 80%;
        height: auto;

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width:1200px) {
    .info-page {
        .logo-container {
            height: 50%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}